@media only screen and (min-width:768px){
    body{
        background-color: hsl(217, 100%, 97%);
        display: flex;
        flex-direction: column-reverse;
    }
    main{
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: hsl(0, 0%, 100%);
        height: 650px;
        width: 70vw;
        padding: 10px;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: width 1s, height 1s;
        transition-timing-function: ease;
    }
    section#add-ons{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        height: 95%;
    }
    section#add-ons > form{
        transform: none;
    }
    section#add-ons  h1{
        font-size: 40px;
    }
    section#side-bar{
        background-image: url(../../assets/images/bg-sidebar-desktop.svg);
        background-position: bottom;
        height: 95%;
        width: 300px;
        flex-grow: 0;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px;
    }
    section#side-bar > div{
        display: flex;
        gap: 20px;
    }
    div.info{
        display: block;
        color: hsl(0, 0%, 100%);
        font-family: Ubuntu-medium;
        font-weight: 500;
    }
    div.cards-container{
        flex-direction: column;
        height: 90%;
        width: 90%;
    }
    div.card{
        height: 90px;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-grow: 0;
    }
    div.card > div{
        width: 15%;
    }
    p.price{
        text-align: left;
        padding: 10px;
    }
    section > footer{
        position: relative;
        bottom: 0;
        width: 90%;
        justify-content: flex-start;
        gap: 50%;
        
    }
    div.info h1{
        color: hsl(0, 0%, 100%);
    }
    section#add-ons button#btnNext,
    section#add-ons button#btnGoBack{
        width: 120px;
        border-radius: 10px;
    }
    .attribution { 
        font-size: 11px; 
        text-align: center; 
        display: block;
    }
    .attribution a { color: hsl(228, 45%, 44%); }
}