@charset "UTF-8";
@font-face {
    font-family: Ubuntu-bold;
    src: url(../assets/fonts/Ubuntu-Bold.ttf) format('truetype');
}
@font-face {
    font-family: Ubuntu-medium;
    src: url(../assets/fonts/Ubuntu-Medium.ttf) format('truetype');
}
@font-face {
    font-family: Ubuntu-regular;
    src: url(../assets/fonts/Ubuntu-Regular.ttf) format('truetype');
}
*{
    padding: 0px;
    margin: 0px;
    font-family: Ubuntu-regular;
}
body, html{
    width: 100vw;
    height: 100vh;
}
main{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: hsl(206, 94%, 87%);
}
section#side-bar{
    background-image: url(../assets/images/bg-sidebar-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    width: 100vw;
    height: 150px;
    justify-content: center;
    align-items: center;
    gap: 15px;

}
section#personal-info > form{
    background-color: hsl(0, 0%, 100%);
    transform: translate(30px, -40px);
    border-radius: 10px;
    width: calc(100% - 100px);
    gap: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
section#personal-info  h1{
    font-family: Ubuntu-bold;
    font-weight: 700;
}
section#personal-info p{
    font-size: 16px;
    color: hsl(229, 24%, 87%);
}
section > footer{
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
div.circle{
    border: 1px solid hsl(0, 0%, 100%);
    height: 15px;
    width: 15px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    padding: 10px;
    font-family: Ubuntu-medium;
    color: white;
}
div.circle:hover{
    background-color: hsl(206, 94%, 87%);
    cursor: pointer;
    color: black;
    transition: background-color 1s;
    transition-timing-function: ease;
}
div.info{
    display: none;
}
div.field{
    display: flex;
    flex-direction: column;
}
div.field > input{
    font-family: Ubuntu-medium;
    font-weight: 700;
    font-size: 16px;
    color: hsl(231, 11%, 63%);
    padding: 10px;
    height: 25px;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 5px;
    font-weight: 400;
}
section#personal-info button{
    position: absolute;
    right: 10px;
    height: 45px;
    width: 100px;
    font-family: Ubuntu-medium;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: hsl(213, 96%, 18%);
    border: 1px solid hsl(213, 96%, 18%);
    border-radius: 5px;
}

section#personal-info button:hover{
    cursor: pointer;
    background-color: hsl(243, 100%, 62%);
    border-color: hsl(243, 100%, 62%);
}

span{
    color: hsl(229, 24%, 87%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }